<p>
  <a href="/members">All Members</a> |
  <a href="/members/<%= @member.id %>"><%= @member.name %></a>
</p>

<h1>Update Member: <%= @member.name %></h1>

<form action="/members/<%= @member.id %>" method="post">
  <input type="hidden" name="_method" value="put">
  <input type="text" name="name" value="<%= @member.name %>">
  <input type="submit">
</form>
